{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Author Profile </h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                {% if request.user.author.profile_image %}
                <img class="profile-pic" src="{{request.user.author.profile_image.url}}">
                {% else %}
                <img class="profile-pic" src="/images/default.png">
                {% endif %}

            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">

                <form method="POST" action="#" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}

                    <input class="btn btn-primary" type="submit" value="Update Information">
                    <a href="{% url 'blog:create' %}" class="btn btn-success">Create New Blog</a>
                    <a class="btn btn-warning" href="{% url 'blog:home' %}"> &#8592; Back to Home</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% block sidebar %} {% endblock sidebar %}
</div>

</div>


{%endblock%}
