{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Blog Delete
                        <h4>Are you sure you want to delete the blog "{{blog.title}}"?</h4>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">

            <form method="post" action="#">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, Delete.</button>
                <a class="btn btn-secondary" href="{% url 'blog:detail' blog.slug %}">Cancel</a>
            </form>

        </div>
        {% block sidebar %} {% endblock sidebar %}
    </div>

</div>
{%endblock%}
